<!DOCTYPE html>

    <html lang="en">

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">

        <meta name="author" content="">

        <title>Django Project</title>

        <link href="/static/triangle/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/triangle/css/font-awesome.min.css" rel="stylesheet">

        <link href="/static/triangle/css/animate.min.css" rel="stylesheet">

        <link href="/static/triangle/css/lightbox.css" rel="stylesheet">

    <link href="/static/triangle/css/main.css" rel="stylesheet">

    <link href="/static/triangle/css/responsive.css" rel="stylesheet">


        <!--[if lt IE 9]>

       <script src="/static/triangle/js/html5shiv.js"></script>

       <script src="/static/triangle/js/respond.min.js"></script>

        <![endif]-->

        <link rel="shortcut icon" href="/static/triangle/images2/ico/letterd.ico">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/triangle/images2/ico/apple-touch-icon-144-precomposed.png">

        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/triangle/images2/ico/apple-touch-icon-114-precomposed.png">

        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/triangle/images2/ico/apple-touch-icon-72-precomposed.png">

        <link rel="apple-touch-icon-precomposed" href="/static/triangle/images2/ico/apple-touch-icon-57-precomposed.png">

    </head><!--/head-->


    <body>

    <header id="header">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 overflow">

                       <div class="social-icons pull-right">

                            <ul class="nav nav-pills">

                                <li><a href=""><i class="fa fa-facebook"></i></a></li>

                                <li><a href=""><i class="fa fa-twitter"></i></a></li>

                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>

                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>

                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>

                            </ul>

                        </div>

                    </div>

                 </div>

            </div>

            <div class="navbar navbar-inverse" role="banner">

                <div class="container">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                            <span class="sr-only">Toggle navigation</span>

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                            <span class="icon-bar"></span>

                        </button>


                        <a class="navbar-brand" href="{% url 'i9:index' %}">

                         <h1><img src="/static/triangle/images2/logo.png" alt="logo"></h1>

                        </a>



                    </div>
<font size="5">
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">

                            <li class="active"><a href="{% url 'i9:index' %}"><font size="4">Trang chủ</font></a></li>

                            <li><a href="{% url 'i9:question' %}"><font size="4">I.9</font></a></li>

                            <li><a href="{% url 'i10:question' %}"><font size="4">I.10</font></a></li>

                            <li><a href="{% url 'i11:question' %}"><font size="4">I.11</font></a></li>

                            <li><a href="{% url 'j1:question' %}"><font size="4">J.1</font></a></li>

                            <!--<li class="dropdown"><a href="portfolio.html"><font size="4">J.1</font><i class="fa fa-angle-down"></i></a>-->

                                <!--<ul role="menu" class="sub-menu">-->

                                    <!--<li><a href="aboutus.html">J.1.1</a></li>-->

                                    <!--<li><a href="aboutus2.html">J.1.2</a></li>-->

                                    <!--<li><a href="service.html">J.1.3</a></li>-->

                                    <!--<li><a href="pricing.html">J.1.4</a></li>-->

                                    <!--<li><a href="contact.html">J.1.5</a></li>-->

                                <!--</ul>-->

                            <!--</li>-->

                            <li><a href="{% url 'j2:question' %}"><font size="4">J.2</font></a></li>

                        </ul>

                    </div></font>

                    <div class="search">

                        <form role="form">

                            <i class="fa fa-search"></i>

                            <div class="field-toggle">

                                <input type="text" class="search-form" autocomplete="off" placeholder="Search">

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </header>

            <!-- Main content -->
            <section class="content">
                {% block content %}{% endblock %}
            </section><!-- /.content -->


        {% include 'footer.html'%}

            <script type="text/javascript" src="/static/triangle/js/jquery.js"></script>

        <script type="text/javascript" src="/static/triangle/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/triangle/js/lightbox.min.js"></script>

        <script type="text/javascript" src="/static/triangle/js/wow.min.js"></script>

        <script type="text/javascript" src="/static/triangle/js/main.js"></script>

    </body>

</html>